<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1457D4B8-BA7B-4B07-BD21-8EB11C71BC74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87D2CF1D-75D9-4A7A-A6CF-FFA2C087BBB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>49D05FF3-C5C8-428E-8BC1-1E07FEA36F97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F358966-DBE1-4D17-AF0C-F7302F1CF9E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>87D2CF1D-75D9-4A7A-A6CF-FFA2C087BBB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A46C50B0-7456-464C-B867-EF9934808B76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6AB55D8-B838-4504-B721-FC6BA81C41DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49D05FF3-C5C8-428E-8BC1-1E07FEA36F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Simpson</string>
	<key>description</key>
	<string>Converts copied JS to CoffeeScript and puts it on your clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JS2Coffee</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>js2</string>
				<key>subtext</key>
				<string>Convert JS to CoffeeScript</string>
				<key>text</key>
				<string>JS2Coffee</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1457D4B8-BA7B-4B07-BD21-8EB11C71BC74</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Paste your fresh Coffee!</string>
				<key>title</key>
				<string>JS2CoffeScript</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A46C50B0-7456-464C-B867-EF9934808B76</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>JS2Coffee Restored!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5F358966-DBE1-4D17-AF0C-F7302F1CF9E9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>js2restore</string>
				<key>subtext</key>
				<string>Replaces existing installation of JS2Coffee with the latest from npm</string>
				<key>text</key>
				<string>Restore JS2Coffee</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6AB55D8-B838-4504-B721-FC6BA81C41DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>chmod 777 js2coffee.sh &amp;&amp; ./js2coffee.sh</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>87D2CF1D-75D9-4A7A-A6CF-FFA2C087BBB8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./clean.sh</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49D05FF3-C5C8-428E-8BC1-1E07FEA36F97</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1457D4B8-BA7B-4B07-BD21-8EB11C71BC74</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>49D05FF3-C5C8-428E-8BC1-1E07FEA36F97</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>5F358966-DBE1-4D17-AF0C-F7302F1CF9E9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>87D2CF1D-75D9-4A7A-A6CF-FFA2C087BBB8</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>A46C50B0-7456-464C-B867-EF9934808B76</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B6AB55D8-B838-4504-B721-FC6BA81C41DC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://adamsimpson.net</string>
</dict>
</plist>
